
<!--  
<section class="footer">
  <p>Accionlabs-2018</p>
</section> -->
<div class="container" style="height:10px; background:#ffff;">
</div>
<div class="container-fluid">
  <br>
  
    <div class="row text-center">
      <div class="col title">
        <h3 >Lets Talk</h3>
      </div>
    </div>
    <div class="card ">
      <!-- <div class="row"> -->
        <!-- <div class="col"> -->
          <br>
        <form id="contact-form" class="col" [formGroup]="contactForm"
          (ngSubmit)="submitDetails()">
          <div class="row">
          <div class="col">
            <div class="form-group">
              <!-- <label class="control-label" for="contact-name">Name</label> -->
              <div class="controls">
                <input id="name" formControlName="name" placeholder="Your name" class="form-control requiredField"
                  data-new-placeholder="Your name" type="text" [(ngModel)]="service.contact.name" required>
                <!-- <i class="fa fa-user"></i> -->
                <div *ngIf="
                  contactForm.controls['name'].touched &&
                  !contactForm.controls['name'].valid
                ">
                  <small *ngIf="contactForm.controls['name'].hasError('required')" style="color:red;">
                    Please enter the Name
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <!-- <label class="control-label" for="contact-mail">Email</label> -->
              <div class=" controls">
                <input id="email" formControlName="email" placeholder="Your email" class="form-control requiredField"
                  data-new-placeholder="Your email" type="text" [(ngModel)]="service.contact.email" required>
                <!-- <i class="fa fa-envelope"></i> -->
                <div *ngIf="
                  contactForm.controls['email'].touched &&
                  !contactForm.controls['email'].valid
                ">
                  <small *ngIf="contactForm.controls['email'].hasError('required')" style="color:red;">
                    Please enter your email
                  </small>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="row">
          <div class="col">
            <div class="form-group">
              <!-- <label class="control-label" for="contact-message">Message</label> -->
              <div class="controls">
                <textarea id="message" name="comments" placeholder="Your message" class="form-control requiredField"
                  formControlName="message" data-new-placeholder="Your message" rows="6"
                  [(ngModel)]="service.contact.message" required></textarea>
                <!-- <i class="fa fa-comment"></i> -->
                <div *ngIf="
                  contactForm.controls['message'].touched &&
                  !contactForm.controls['message'].valid
                ">
                  <small *ngIf="contactForm.controls['message'].hasError('required')" style="color:red;">
                    Please provide the message.
                  </small>
                </div>
              </div>
            </div>
          </div>
          </div>
          <p><button name="submit" type="submit" class="btn btn-info btn-color2 btn-block"><i class="fa fa-paper-plane"></i>Send
            Message</button></p>
        </form>
        <!-- </div> -->
      <!-- </div> -->
  
    <br>
  </div>
  <br>
  </div>
  <pre>
  </pre>
   <div class="container1 text-center">
      <!-- <section class="footer">
          <p>Accionlabs-2018</p>
        </section> -->
   </div>
