<div class="container-fluid padding">
  <div class="container">
    <div class="row welcome">
      <div class="col-12">
        <h4> Activities</h4>
      </div>
      
      <div class="container padding">
        <div class="col-12">
          <div class="table-responsive">
            <table  *ngIf="payments.length > 0" class="table">
                <div class="col-12">
                    <div class="row">
                      <div class="form-group form-inline col-4">
                        <input class="form-control ml-2" type="text"  placeholder="Seach" />
                      </div>
                      <div class="col">
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Payment Report
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" (click)="donations()">Donations</a>
                            <a class="dropdown-item" (click)="payouts()">Payouts</a>
                            <a class="dropdown-item" (click)="refunds()">Refunds</a>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Find by days
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item">30 days</a>
                            <a class="dropdown-item">90 days</a>
                            <a class="dropdown-item">2019</a>
                            <a class="dropdown-item">2020</a>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                      </div>
                    </div>
                  </div>
                <thead class="thead">
                    <tr>
                      <th>Date<button class="btn btn-outline-light" (click)="sortDate()"><i class="fa fa-sort" aria-hidden="true"></i></button></th>
                      <th>Type<button class="btn btn-outline-light" (click)="sortStatus()"><i class="fa fa-sort" aria-hidden="true"></i></button></th>
                      <th>Name<button class="btn btn-outline-light" (click)="sortAmount()"><i class="fa fa-sort" aria-hidden="true"></i></button></th>
                      <th>Donation Status<button class="btn btn-outline-light" (click)="sortDate()"><i class="fa fa-sort" aria-hidden="true"></i></button></th>
                      <th>Total Amount<button class="btn btn-outline-light" (click)="sortDate()"><i class="fa fa-sort" aria-hidden="true"></i></button></th>
                      <th>Fees<button class="btn btn-outline-light" (click)="sortDate()"><i class="fa fa-sort" aria-hidden="true"></i></button></th>
                      <th>Net Amount<button class="btn btn-outline-light" (click)="sortDate()"><i class="fa fa-sort" aria-hidden="true"></i></button></th>
                    </thead>
                  <tbody>
                    <tr *ngFor=" let p of payments; let i=index;">
                      <td>{{p.date | date}}</td>
                      <td>{{p.userName}}</td>
                      <td>{{p.amount}}</td>
                    </tr>
                  </tbody>
            </table>
            <hr>
            <div *ngIf="payments.length === 0" class="text-center">
                <h5>No Transactions</h5>
              </div>
              <ngb-pagination class="d-flex justify-content-end" [(page)]="pagination.currentPage"
              [pageSize]="pagination.noOfItemsPerPage" [collectionSize]="pagination.totalCount"
              aria-label="Default pagination" (pageChange)="onPageChange($event)" *ngIf="payments.length > 0">
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
