
.container-fluid{
    margin-top:15px;
 }
 .container{
     font-family: 'Poppins', sans-serif;
 }
 h4 {
    color:rgb(106, 208, 226);
    font-size: 2rem;
    font-weight: bold;
 }

 .fa-search{
     color:rgb(16, 144, 204); 
    color:white;
 }
 .fa-sort-numeric-asc{
     color: rgb(41, 39, 39);;
 }
 
 .btn-outline{
     background:rgb(106, 208, 226);
     color: white;
    
 }
 .btn-outline:onClick{ 
    background:rgb(106, 208, 226);
    color: white;
}
 .date{
     margin-left: 400px;
 }
 

 thead{
     background-color: rgb(16, 144, 204);
     color: white;
     padding: 15px;
     background: rgb(106, 208, 226);

 }

 .pagination{
     margin-left: 440px;
 }
 
.pagination>.nav-item.active {
    background-color: rgb(41, 39, 39);;
    pointer-events: none;
    color: white;
}
.display{
    font-weight:900;
    color:rgb(106, 208, 226);
    font-family: 'poppins';
}