<div class="container-fluid padding">
  <div class="container">
    <div class="row welcome">
      <div class="col-12">
        <h4>Activities</h4>
      </div>
      <div class="container padding">
        <div class="col-12">
          <div class="table-responsive">
            <div class="container-fluid col-12">
              <div class="row">
                <div class="col-4">
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="fas fa-search"></i></div>
                        </div>
                        <input type="text" class="form-control" id="inlineFormInputGroupUsername2"
                          placeholder="Search Name " [(ngModel)]="DonarName" (input)="search()" style="outline:none">
                      </div>
                </div>
                <div class="col-2">
                  <div class="dropdown">
                    <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:100%;">
                      <i class="fa fa-filter" aria-hidden="true"></i> Date
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" (click)="filter30()">Last 30 days</a>
                      <a class="dropdown-item" (click)="filter60()">Last 60 days</a>
                      <a class="dropdown-item" (click)="filter18()">2018</a>
                      <a class="dropdown-item" (click)="filter19()">2019</a>
                      <form class="px-4 py-3">
                        <div class="form-group">
                          <div class="jumbotron-fluid">
                            <label for="date-range">Date-range</label>
                            <input type="date" class="form-control" id="date-range" name="start" [(ngModel)]="start" />
                            <input type="date" class="form-control" id="date-range" name="end" [(ngModel)]="end" />
                          </div>
                        </div>
                      </form>
                      <button class="dropdown-item" style="margin-left: 142px;" type="button" class="btn btn-primary "
                        (click)="filter()">
                        Done
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <button type="button" class="btn btn-outline-info" (click)="downloadPdf()" style="width:100%;">
                    <i class="fas fa-file-pdf"></i> Dowload
                  </button>
                </div>
                <br>
                &nbsp; &nbsp;
                <div class="">
                  <button type="button" class="btn btn-outline-info" (click)="refresh()"><i
                      class="fas fa-redo-alt"></i></button>
                </div>
              </div>
            </div>
            <table *ngIf="payments.length > 0" class="table">
              <thead class="thead">
                <tr>
                  <th>
                    Date<button class="btn btn-outline-light" (click)="sortDate()">
                      <i class="fa fa-sort" aria-hidden="true"></i>
                    </button>
                  </th>
                  <th>
                    Name<button class="btn btn-outline-light" (click)="sortStatus()">
                      <i class="fa fa-sort" aria-hidden="true"></i>
                    </button>
                  </th>
                  <th>
                    Donation Status<button class="btn btn-outline-light" (click)="sortName()">
                      <i class="fa fa-sort" aria-hidden="true"></i>
                    </button>
                  </th>
                  <th>
                    Total Amount<button class="btn btn-outline-light" (click)="sortAmount()">
                      <i class="fa fa-sort" aria-hidden="true"></i>
                    </button>
                  </th>
                  
                  <!-- <th>
                    Fees<button class="btn btn-outline-light" (click)="sortAppfee()">
                      <i class="fa fa-sort" aria-hidden="true"></i>
                    </button>
                  </th>
                  <th>
                    Net Amount<button class="btn btn-outline-light" (click)="sortNet()">
                      <i class="fa fa-sort" aria-hidden="true"></i>
                    </button>
                  </th> -->
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let p of payments; let i = index">
                  <td>{{ p.paymentDate | date }}</td>
                  <td>{{ p.userName }}</td>
                  <td>{{ p.status }}</td>
                  <td>{{ p.amount | currency }}</td>
                  <!-- <td>{{ p.application_fee_amount | currency }}</td> -->
                  <!-- <td>{{ p.net | currency }}</td> -->
                </tr>
              </tbody>
              <div class="spinner">
                  <mat-spinner *ngIf="spinner"></mat-spinner>
              </div>
            </table>
            <hr />
            <div *ngIf="payments.length === 0" class="text-center">
              <h5>No data</h5>
            </div>
            <ngb-pagination class="d-flex justify-content-end" [(page)]="pagination.currentPage"
              [pageSize]="pagination.noOfItemsPerPage" [collectionSize]="pagination.totalCount"
              aria-label="Default pagination" (pageChange)="onPageChange($event)" *ngIf="payments.length > 0">
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <button class="btn btn-primary" (click)="downloadPdf()">download</button> -->
