<div class="container" style="height:10px; background:#ffff;">
</div>
<div class="container-fluid">
  <div class="row text-center">
    <div class="col">
      <pre></pre>
      <h2 class="title"> Quber Highlights </h2>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Challenges In Giving Today
        </div>
        <div class="card-body">
          <p>
            Keeping track of donations given for financial planning as well for tax deductions.
          </p>
          <p>
            Timelines of making the donation.</p>
          <p>
            End to end process of making a donation is cumbersome.</p>
          <p> Lack of clarity of charitable goals.</p>
          <p> Honorig pledes.</p>
          <p>Lack of trust in giving due to lack of clarity about various charities.
          </p>
          <pre>
            
          </pre>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          Quber's Digital Solution
        </div>
        <div class="card-body">
          <p>
            Quber mobile app gives you ability to pull all the donations that you have given since the initiation of
            your account.
          </p>
          <p>
            Quber mobile app provieds the donar flexibility at their fingertips of making a donation anytime anywhere.
          </p>
          <p>The app experiance is seamless with minimal steps required to complete the donation.</p>
          <p>Easily set up short, mid and long term charitable goals with remainder preferences.
            This will help donars to stay on track and feel fulfilled by keeping their pledge.
          </p>
          <p>
            Easy to make pledges on frequency of your choice and stay accountable to commitments.
          </p>
          <p>A rigorous and thorough process to vet out and approve the charities that are onboarded on the platform.
          </p>
          
        </div>
      </div>
    </div>

  </div>
  <pre>

  </pre>
</div>