.title{
    font-family: 'Lato',cursive !important;
    color: aliceblue;
}
.container-fluid{
    background-color: rgb(15, 212, 219);
    background-image: linear-gradient(141deg, #b8d8d8 0%, #1fdbcb 51%, #2ce2e8 75%);
}