<!-- <nav id="navbar" class="navbar">
    <a class="navbar-brand" href="#">Kuber</a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#header">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li> 
      <li class="nav-item">
          <a class="nav-link" (click)="navLogin()">Login</a>
        </li>
    </ul>
  </nav> -->
  <div>
      <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
              <div class="navbar-brand row text-center">
                  <div class="row text-center">
                      <img src="../../assets/Images/kuber-HD.jpg">
                      <h4 class="title">KUBER</h4>
                  </div>
              </div>
          </div>
          <div class="logout">
              <button type="button" class=" btn btn-outline btn-md" (click)="navLogin()">Login</button>
          </div>
      </nav>
  </div>

  <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
      <section id=header class="wrap-header">
          <div class="image-layout">
            <img src="../../assets/Images/1_q_1glqQlVGGlsvUZYRhDzQ.jpeg" alt="">
          </div>
        </section>
        
        <hr>

        <section class="wrap-about">
          <div class="heading">
            <p>about</p>
          </div>
          <div class="wrap-details">
            <span>Kuber Owner</span>
            <article>Kuber Charities Inc. is a US corporation which owns the technology platform to digitally transform the process of gifting to charities worldwide.</article>
            <span>Kuber Registered Office</span>
            <article>Kuber Charities is headquartered in the US with its registered office in Pennsylvania. </article>
            <span>Motto and Purpose</span>
            <article>Kuber’s mission is to leverage technology to its highest potential to enable its users to make donation gifts to charities of their choice with complete ease and track their gifts all year round.</article>
          </div>
         
        </section>
      <section id="contact" class="footer">
        <app-footer></app-footer>
      </section>
  </div>




  <!-- <article> Kuber Charities Inc. is a US corporation which owns the technology platform to digitally transform the process of gifting to charities worldwide. </article>


            <p>Kuber Registered Office</p>
            <p>Kuber Charities is headquartered in the US with its registered office in Pennsylvania. </p>

            <p>Motto and Purpose</p>
            <span> Kuber’s mission is to leverage technology to its highest potential to enable its users to make donation gifts to charities of their choice with complete ease and track their gifts all year round. </span> -->

