
/* .navbar-brand {
  /* padding: 0.8rem; */
  /* color: black; 
  font-size: 1.8rem;
  font-family: 'Lora', serif;
  color: white;
} */

.navbar{
  background: #69d5d8;
}
img{
  width: 50px;
  height: 50px;
}
.title{
  padding: 10px;
  font-family: 'Chonburi', cursive !important;
  font-weight: 900;
  color:#ffffff;
  /* margin-left: 400px; */
}
.logout{
  /* margin-right: 80px; */
}
.logout>.btn{
  background:#ffffff;
  color: #69d5d8;
  font-weight: 800;
  border: 10px, 10px;
}


.nav-item .nav-link {
  border: none;
  font-family: 'Lora', serif;
  color: black;
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
}

.nav-item .nav-link:hover {
  cursor: pointer;
  background-color: cornflowerblue;
  color: white;
}



.wrap-btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap-btn .btn {
  width: 20%;
  height: 30%;
} 

/* .navbar {
  background: rgb(5, 41, 141);
  position: sticky;
  width: 100%;
} */

.image-layout img {
  margin: 0;
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;; 
}

.wrap-about {
  background-image: url('../../assets/Images/kuber-HD.jpg');
  padding: 2rem;
  margin: 20px;
  border: none;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  height: 50vh;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.wrap-about .heading {
  font-family: 'Lora', serif;
  text-transform: capitalize;
  text-align: center;
  font-size: 2rem;

}

.wrap-about span {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1rem;
  color: white;
  font-family: 'Lora', serif;
  letter-spacing: 0.1rem;
} 

.wrap-about article {
  font-size: 1.4rem;
  color: #4D2600;
  padding: 1rem;
  font-family: 'PT Sans', sans-serif;
}
