<body class="homepage">
  <div class="home" id="home">
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#"><img src="./assets/Images/logo.png" width="60" height="60"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#home">Home </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active" href="#about">About Us</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active visited" href="#letstalk">Contact</a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-light btn-lg" (click)="Login() ">LOGIN</button>
          </li>
        </ul>
      </div>
    </nav>
  </div>


  <!-- <div class="nav-container">
    <nav class="navbar inline fixed-top">
      <ul>
        <li>
          <a class="navbar-brand" href="#"><img src="../../assets/Images/Logo with Background.png" width="60" height="60"></a>
        </li>
        <li><a href="#intro">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#heighlights">Heighlights</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div> -->


  <!-- intoduction -->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-info">
        <div class="brand-name">
          <p style="font-size:5rem; color: whitesmoke;">QUBER</p>
          <h3 style="margin-left:10px; text-transform: uppercase; word-spacing: 0.6rem; color: whitesmoke;">giving made
            easier</h3>
        </div>

        <div class="mission">
          <p>Quber digitally transforms the philanthropic experience making it seamless, efficient and secure by
            leveraging latest technologies.</p>
        </div>
        <!-- <h2>QUBER<br> <span style="font-size:1.6rem; color: white; text-transform: uppercase">Giving made easier </span></h2> -->
        <!-- <h3>Quber digitally transforms the philanthropic experience making it seamless, efficient and secure by leveraging latest technologies.</h3> -->
        <div>
          <a (click)="register()" class="btn-get-started scrollto">REGISTER YOUR CHARITY</a>
          <!-- <a href="#services" class="btn-services scrollto">Our Services</a> -->
        </div>
      </div>

    </div>
  </section>

  <!-- about section -->
  <section id="about">
    <div class="container">

      <header class="section-header">
        <h2 style="text-align: center; padding: 2.5rem;font-size: 40px;font-weight: 700;
        letter-spacing: 1px; text-transform: uppercase;">About Us</h2>
      </header>

      <div class="row about-container">
        <div class="col-lg-5 content order-lg-1 order-2">
          <div class="icon-box wow fadeInUp" style="text-align:center;">
            <i class="fas fa-angle-double-right fa-6x"></i>
            <p> </p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.4s" style="text-align:center;">
            <i class="fas fa-clock fa-6x"></i>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.4s" style="text-align:center;">
            <i class="fas fa-handshake fa-6x"></i>
          </div>
        </div>
        <div class="col-lg-6 content order-lg-1 order-2">
          <div class="icon-box wow fadeInUp" style="text-align:center;">
            <h3 style="color:black; font-weight:bold; padding:1rem;">Track Donation</h3>
            <p>We help you keep track of donations for financial planning and tax deductions</p>
          </div>
          <div class="icon-box wow fadeInUp" style="text-align:center;">
            <h3 style="color:black; font-weight:bold; padding:1rem;">Timeliness</h3>
            <p>We provide timelines that help you with donations so that the process does not become cumbersome</p>
            <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos dolores maxime illo sed ullam nemo quo laudantium rem deserunt ipsum molestias eaque, illum optio cumque. Sint blanditiis perferendis minima corrupti!</p> -->
          </div>
          <div class="icon-box wow fadeInUp" style="text-align:center;">
            <h3 style="color:black; font-weight:bold; padding:1rem;">Building Trust</h3>
            <p>We provide details of all different charities building trust between donar and the charity</p>
            <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos dolores maxime illo sed ullam nemo quo laudantium rem deserunt ipsum molestias eaque, illum optio cumque. Sint blanditiis perferendis minima corrupti!</p> -->
          </div>
        </div>
      </div>

      <!-- <div class="row about-extra">
        <div class="col-lg-6 wow fadeInUp">
          <img src="img/about-extra-1.svg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
          <h4>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h4>
          <p>
            Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati possimus ea. Quas molestiae perspiciatis
            occaecati qui rerum. Deleniti quod porro sed quisquam saepe. Numquam mollitia recusandae non ad at et a.
          </p>
          <p>
            Ad vitae recusandae odit possimus. Quaerat cum ipsum corrupti. Odit qui asperiores ea corporis deserunt
            veritatis quidem expedita perferendis. Qui rerum eligendi ex doloribus quia sit. Porro rerum eum eum.
          </p>
        </div>
      </div> -->

      <div class="about-extra">
        <header class="about-solution"> quber's digital solution </header>
        <div class="icons">
          <div class="icon-header">
            <p> Make Donations </p>
            <i class="fas fa-hand-holding-usd fa-5x"></i>
          </div>
          <div class="icon-header">
            <p>Keep Track of Donations</p>
            <i class="fas fa-angle-double-right fa-5x"></i>
          </div>
          <div class="icon-header">
            <p> Set Goals & reminders </p>
            <i class="fas fa-clipboard fa-5x"></i>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- #about -->

  <!-- section Conatct -->
  <section class="clearfix" id="letstalk">
    <div class="container">
      <header class="wrap-contact">
        <h1> Let's Talk </h1>
      </header>
      <div class="form-container" [formGroup]="contactForm" (ngSubmit)="submitDetails()">
        <div class="form">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <div class="input-icon-wrap">
                  <span class="input-icon"><span><i class="fas fa-user"></i></span></span>
                  <input type="text" class="input-with-icon" placeholder="Username" id="name" formControlName="name"
                    type="text" [(ngModel)]="service.contact.name" required />
                </div>
                <p class="alert">
                  <ngb-alert [dismissible]="false" *ngIf="
                  contactForm.controls['name'].touched &&
                  !contactForm.controls['name'].valid">
                    <strong>Warning!</strong> Enter the Username.
                  </ngb-alert>
                </p>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <div class="input-icon-wrap">
                  <span class="input-icon"><span><i class="fas fa-envelope"></i></span></span>
                  <input type="text" class="input-with-icon" placeholder="Email" id="email" formControlName="email"
                  type="text" [(ngModel)]="service.contact.email" required>
                </div>
                <p class="alert">
                  <ngb-alert [dismissible]="false" *ngIf="
                  contactForm.controls['email'].touched &&
                  !contactForm.controls['email'].valid">
                    <strong *ngIf="registerForm.controls['contact'].hasError('required')">Warning!</strong> Enter the Email.
                    <strong *ngIf="registerForm.controls['contact'].hasError('pattern')">Warning!</strong> Incorrect Email.
                  </ngb-alert>
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <div class="input-icon-wrap">
                  <span class="input-icon"><span><i class="fas fa-comment-alt"></i> </span></span>
                  <textarea type="text" class="input-with-icon" placeholder="Message" id="message"
                  formControlName="message"
                  type="text" [(ngModel)]="service.contact.message" style="height:100px;" required></textarea>
                </div>
                <p class="alert">
                  <ngb-alert [dismissible]="false" *ngIf="
                  contactForm.controls['message'].touched &&
                  !contactForm.controls['message'].valid">
                    <strong>Warning!</strong> Enter the message.
                  </ngb-alert>
                </p>
              </div>
            </div>
          </div>
          <div class="col-12">
            <p><button name="submit" type="submit" class="btn btn-outline-light btn-lg btn-block" (click)="submitDetails()"><i
                  class="fa fa-paper-plane"></i>
                Send a message</button></p>
          </div>
        </div>
      </div>
      <!-- <form id="contact-form" [formGroup]="contactForm" (ngSubmit)="submitDetails()">
        <div class="row">
          <h4>Please fill the details. We will contact you soon.</h4>
          <div class="col-12 text-left">
            <div class="form-group">
              <div class="controls">
                
                <input id="name" formControlName="name" 
                  data-new-placeholder="Username" type="text" [(ngModel)]="service.contact.name" required>
                <div class="val" *ngIf="
                        contactForm.controls['name'].touched &&
                        !contactForm.controls['name'].valid
                      ">
                  <small *ngIf="contactForm.controls['name'].hasError('required')">
                    Please enter the name!
                  </small>
                  <small *ngIf="contactForm.controls['name'].hasError('pattern')">
                    Please enter valid name!
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <div class=" controls">
                <input id="email" formControlName="email" placeholder="Email" class="form-control requiredField"
                  data-new-placeholder="Your email" type="text" [(ngModel)]="service.contact.email" required>
                <i class="fa fa-envelope"></i>
                <div class="val" *ngIf="
                        contactForm.controls['email'].touched &&
                        !contactForm.controls['email'].valid
                      ">
                  <small *ngIf="contactForm.controls['email'].hasError('required')">
                    Please enter the email id!
                  </small>
                  <small *ngIf="contactForm.controls['email'].hasError('pattern')">
                    Please enter valid email id!
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <div class="controls">
                <textarea id="message" name="comments" placeholder="Message" class="form-control requiredField"
                  formControlName="message" data-new-placeholder="Message" rows="3" [(ngModel)]="service.contact.message"
                  required><i class="fa fa-comment"></i></textarea>
                <i class="fa fa-comment"></i>
                <div class="val" *ngIf="
                        contactForm.controls['message'].touched &&
                        !contactForm.controls['message'].valid
                      ">
                  <small *ngIf="contactForm.controls['message'].hasError('required')">
                    Please enter the message!
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <p><button name="submit" type="submit" class="btn btn-outline-light btn-lg btn-block"><i class="fa fa-paper-plane"></i>
                SEND ME DETAILS</button></p>
          </div>
        </div>
      </form> -->
    </div>
  </section>

  <!-- 
  <div id="letstalk" class="offset">
    <div class="col-12 narrow text-center">
      <h1 class="title">LET'S TALK</h1>

      <div class="jumbotron row narrow justify-content-center">
        <div class="card col-md-6">
          <br>
          <form id="contact-form" [formGroup]="contactForm" (ngSubmit)="submitDetails()">
            <div class="row">
              <h4>Please fill the details. We will contact you soon.</h4>
              <div class="col-12 text-left">
                <div class="form-group">
                  <div class="controls">
                    <input id="name" formControlName="name" placeholder="Name" class="form-control requiredField"
                      data-new-placeholder="Your name" type="text" [(ngModel)]="service.contact.name" required>

                    <div class="val" *ngIf="
                            contactForm.controls['name'].touched &&
                            !contactForm.controls['name'].valid
                          ">
                      <small *ngIf="contactForm.controls['name'].hasError('required')">
                        Please enter the name!
                      </small>
                      <small *ngIf="contactForm.controls['name'].hasError('pattern')">
                        Please enter valid name!
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <div class=" controls">
                    <input id="email" formControlName="email" placeholder="Email" class="form-control requiredField"
                      data-new-placeholder="Your email" type="text" [(ngModel)]="service.contact.email" required>
                    <i class="fa fa-envelope"></i>
                    <div class="val" *ngIf="
                            contactForm.controls['email'].touched &&
                            !contactForm.controls['email'].valid
                          ">
                      <small *ngIf="contactForm.controls['email'].hasError('required')">
                        Please enter the email id!
                      </small>
                      <small *ngIf="contactForm.controls['email'].hasError('pattern')">
                        Please enter valid email id!
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <div class="controls">
                    <textarea id="message" name="comments" placeholder="Message" class="form-control requiredField"
                      formControlName="message" data-new-placeholder="Message" rows="3" [(ngModel)]="service.contact.message"
                      required><i class="fa fa-comment"></i></textarea>
                    <i class="fa fa-comment"></i>
                    <div class="val" *ngIf="
                            contactForm.controls['message'].touched &&
                            !contactForm.controls['message'].valid
                          ">
                      <small *ngIf="contactForm.controls['message'].hasError('required')">
                        Please enter the message!
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <p><button name="submit" type="submit" class="btn btn-outline-light btn-lg btn-block"><i class="fa fa-paper-plane"></i>
                    SEND ME DETAILS</button></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> -->

  <div>
    <footer>
      <div class="row narrow text-center">
        <div class="col-12">
          <p><i class="fa fa-copyright" aria-hidden="true"></i> 2019 Quber. All Rights Reserved. <a href="#">Privacy
              policy
            </a></p>
        </div>
      </div>
    </footer>
  </div>
</body>