<div class="signup-container">
    
    <form class="form-horizontal" role="form" [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <h2>Registration</h2>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">Charity Name</label>
            <div class="col-5">
                <input formControlName="charityname" type="text" id="charityname" placeholder="First Name" class="form-control" autofocus>
                <div class="alert alert-danger">
                    <div *ngIf="validateForm.get('charityName').dirty && validateForm.get('charityName').error">
                        Charity Name is required.
                      </div>
                </div>
            </div>
        </div>
       
        <button type="submit" class="btn btn-primary">Register</button>
    </form> <!-- /form -->

</div> <!-- ./container -->