.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    background-color: white !important;
    /* background: rgba(0,0,0,0.6) !important; */
    /* opacity: .9; */
  }

  .navbar-nav li{
  padding-right: .7rem;
  }
  .navbar-dark .navbar-nav .nav-link{
    /* color: white; */
    padding-top: .8rem;
  }
.welcome-text{
color: rgb(32, 207, 207);
font-weight: 700;
margin-top:20px;
font-size: 2rem;
}
.row .title {
font-weight: 200;
font-size: 1.5rem;
color:#504f4f;
}

.row{
font-weight: 200 !important;
font-size: 1.1rem;
color: #444242;
}
.row p{
    font-size: 1rem;
    color: #696666;
}
.title{
    font-weight: 200;
font-size: 1.5rem;
color:#646262;
}
