<nav class="navbar navbar-expand-md navbar-light static-top">
    <a class="navbar-brand" href="#"><img src="../../../assets/Images/Logo with Background.png" width="60" height="60"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" role="button" (click)="summary()">Summary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" (click)="activities()" >Activity</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" (click)="pledges()">Pledges</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" (click)="help()">Help</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <div ngbDropdown placement="bottom-right" class="d-inline-block">
            <button type="button" class="btn btn-primary" id="dropdownBasic2" ngbDropdownToggle>
                Notifications <span class="badge badge-light">{{length}}</span>
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
              
                </div>
              </div>
            <!-- </div> -->
          <!-- <a class="nav-link" href=""><i class="fa fa-bell" aria-hidden="true"></i></a> -->
          <!-- <div ngbDropdown placement="bottom-right" class="d-inline-block">
            <button class="btn btn-outline" id="dropdownBasic2" ngbDropdownToggle><i class="fa fa-bell" aria-hidden="true"></i></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
              <button ngbDropdownItem>Notifications</button>
              <button ngbDropdownItem>Message</button>
            </div>
          </div> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-cog" aria-hidden="true"></i></a>
          <!-- <div ngbDropdown placement="bottom-right" class="d-inline-block">
            <button class="btn btn-outline" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-cog" aria-hidden="true"></i></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem><i class="fa fa-user" aria-hidden="true"></i> Profile</button>
              <button ngbDropdownItem (click)="logout()"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Logout</button>
              <button ngbDropdownItem>Refunds</button>
            </div>
          </div> -->
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0 ">
        <button class="btn btn-outline my-2 my-sm-0 pull-right" type="submit" (click)="Logout()">Logout</button>
      </form> -->
    </div>
  </nav>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>