<br>
<div class="container">
  <div class="card">
  <h5 class="welcome text-center">Login</h5>
  <form class="form-horizontal" role="form" [formGroup]="loginForm" (ngSubmit)="loginSubmit()" class="main-form">
      <div class="form-group">
          <div class="">
            <input formControlName="email" placeholder="Email" type="text" id="email" class="form-control"
              [(ngModel)]="service.charityLogin.email" autofocus required />
            <div *ngIf="
                loginForm.controls['email'].touched &&
                !loginForm.controls['email'].valid
              ">
              <small *ngIf="loginForm.controls['email'].hasError('required')" style="color:red;">
                Please enter the email id!
              </small>
              <small *ngIf="loginForm.controls['email'].hasError('pattern')" style="color:red;">
                  Please enter email id!
                </small>
            </div>
          </div>
        </div>
        <div class="form-group">
            <div class="">
              <input formControlName="password" placeholder="Password" type="password" id="password" class="form-control"
              [(ngModel)]="service.charityLogin.password"  autofocus required />
              <div *ngIf="
                  loginForm.controls['password'].touched &&
                  !loginForm.controls['password'].valid
                ">
                <small *ngIf="loginForm.controls['password'].hasError('required')" style="color:red;">
                  Please enter the password!
                </small>
                <small *ngIf="loginForm.controls['password'].hasError('pattern')" style="color:red;">
                    Please enter valid password
                  </small>
              </div>
            </div>
          </div>
          <div class="text-center">
          <input type="submit" class="btn" value="LOGIN">
        </div>
          <!-- <div class="login text-center">
              <button type="submit" class="btn btn-primary form-control" >Login</button>
            </div> -->
  </form>
</div>
</div>