  <nav class="navbar navbar-expand-md navbar-dark bg-light static-top">
    <a class="navbar-brand" [routerLink]="[ '/home']"><img src="./assets/Images/logo.png" width="60" height="60"></a>
   
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
      </ul>
    </div>
  </nav>
  <div class="container-fluid ">
  <div class="container narrow col-md-6 ">
    <div class=" row justify-content-center">
      <div class="card ">
        
        <div *ngIf="error?.message" class="alert alert-danger" role="alert">
            <strong>{{error.message}}</strong>
               </div>
        <h5 class="welcome text-center">Log in to Quber </h5>
        <form role="form" (ngSubmit)="loginSubmit()" [formGroup]="loginForm">
            <div class="form-input">
              <input type="text" id="username" placeholder="Email" formControlName="email" [(ngModel)]="service.charityLogin.email">
              <div *ngIf="
                        loginForm.controls['email'].touched &&
                        !loginForm.controls['email'].valid
                      ">
                <small *ngIf="loginForm.controls['email'].hasError('required')" style="color:red;">
                  Please enter the email!
                </small>
              </div>
              <!-- <label for="username">username</label> -->
            </div>
            <div class="form-input">
              <input [type]="passwordType" id="password" placeholder="Password" formControlName="password" [(ngModel)]="service.charityLogin.password">
              <i class="fas fa-eye"(click)="togglePwd()"></i>
              <div *ngIf="
                      loginForm.controls['password'].touched &&
                      !loginForm.controls['password'].valid
                    ">
                <small *ngIf="loginForm.controls['password'].hasError('required')" style="color:red;">
                  Please enter the password!
                </small>
              </div>
              <!-- <label for="password">password</label>  -->
            </div>
            <input type="submit" class="btn btn-lg btn-outline-light" value="LOGIN">
            <div class="spinner" *ngIf="loading">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <!-- <a href="#" class="forgot-password">forgot password?</a> -->
          </form>
        <div class="reg row narrow text-center">
          <div class="col">
           <button type="button" class="btn btn-outline-light" style="color:blue" (click)="register()">Not registered? Click to Register</button> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>