.container-fluid{
    /* background-image: url('../../../../assets/Images/login.jpeg'); */
    height: 70vh;
    background-position: center;
    background-size: cover;
    opacity: .9;
    font-family: 'lato', sans-serif;
    border-radius: 0%;
    background-image:  radial-gradient(rgb(13, 184, 184), rgb(21, 201, 171), rgb(27, 208, 221));
}

.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    background-color: white !important;
    /* background: rgba(0,0,0,0.6) !important; */
    /* opacity: .9; */
  }
  .navbar-brand img{
    height: 6rem;
    width: 6rem;
    /* border-radius: 50%; */
  }
  .navbar-nav li{
  padding-right: .7rem;
  }
  .navbar-dark .navbar-nav .nav-link{
    /* color: white; */
    padding-top: .8rem;
  }

.card {
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    display: flex;
    padding: 3rem;
    /* background-color: rgb(8, 7, 7); */
    opacity: 0.9;
    margin-top: 10%;
    border-radius: 0%;
    width: 450px;
}
.btn-md{
    border-radius: 0;
    border-width: medium;
    /* padding: .6rem 1.3rem; */
    font-size: 1.1rem;
    font-weight: 700;
    color: rgb(250, 251, 251);
    background-color:  rgb(47, 198, 218);
  }
  /* .btn-md:hover{
    color: rgb(247, 252, 252);
    background: rgb(14, 207, 207)
  } */
.form-control{
    /* background: #201f1f; */
    /* height: 150%;  */
    /* color: rgb(241, 236, 236) !important; */
    
    /* outline: #201f1f; */
    border-radius: 0%;
  }
 
.welcome{
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(12, 204, 204);
    text-shadow: .1rem .1rem .5rem rgb(236, 233, 233);
    
}
  .form-group{
    color: rgb(243, 240, 240);
    font-weight: 600;
    outline: white;
    letter-spacing: 0.5px;
    border-radius: 0%;
  }


.forgot-password {
    color: #000;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: letter-spacing .3s ease-in-out;
    float: right;
    padding-right: 2rem;
}

.forgot-password:hover {
  letter-spacing: 1px;
}

footer{
    background-color: #40474e;
    color: white;
    padding: 2rem 0 2rem;
    margin-top: 1rem;
  }

  .form-input {
    display: flex;
    flex-direction: column-reverse;
}

.form-input > label {
    color: #2C3A47;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
}

.form-input > input[type="text"]:focus + label,
.form-input > input[type="password"]:focus + label {
    color: #3E3ED9;
}

form input {
    margin-bottom: 20px;
    width: 100%;
}

.form-input > input[type="text"],
.form-input > input[type="password"] {
    border: none;
    border-bottom: 2px solid #2C3A47;
    height: 30px;
    outline: none;
    transition: border-bottom .3s ease-in-out;
}

.form-input > input[type="text"]:focus,
.form-input > input[type="password"]:focus {
    border-bottom: 2px solid #FD7272;
}
.fa-eye{
 margin-left: 90%;
 margin-top: -1%;
}
.btn-lg{
  color: #ffffff;
  background: rgb(28, 240, 240);
  border-radius: 0%;
  font-size: 1rem;
  font-weight: 700;
}