<div class="container-fluid ">
  <nav class="navbar navbar-expand-md navbar-dark bg-light fixed-top">
    <a class="navbar-brand" href="#"><img src="./assets/Images/kuber-HD.jpg" width="60" height="60"></a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"> -->
      <!-- aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> -->
      <!-- <span class="navbar-toggler-icon"></span> -->
    <!-- </button> -->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item ">
          <a class="nav-link " href="#home">Home </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#about">Hightlights </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#letstalk">Let's talk </a>
        </li> -->
        <!-- <li class="nav-item ">
          <button type="button" class="btn btn-outline-light btn-lg" (click)="Login() ">LOGIN</button>
        </li> -->
      </ul>
    </div>
  </nav>
  <div class="container narrow col-md-6 ">
    <div class=" row justify-content-center">
      <div class="card ">
        <h5 class="welcome text-center">Log in to Quber </h5>
        <form class="form-horizontal" role="form" [formGroup]="loginForm" (ngSubmit)="loginSubmit()" class="main-form">
          <div class="form-group">
            <div class="col-12">
              <input formControlName="email" placeholder="Email" type="text" id="email" class="form-control"
                [(ngModel)]="service.charityLogin.email" autofocus required />
              <div *ngIf="
                loginForm.controls['email'].touched &&
                !loginForm.controls['email'].valid
              ">
                <small *ngIf="loginForm.controls['email'].hasError('required')" style="color:red;">
                  Please enter the email id!
                </small>
                <small *ngIf="loginForm.controls['email'].hasError('pattern')" style="color:red;">
                  Please enter valid email id!
                </small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-12">
              <input formControlName="password" placeholder="Password" type="password" id="password"
                class="form-control" [(ngModel)]="service.charityLogin.password" autofocus required />
              <div *ngIf="
                  loginForm.controls['password'].touched &&
                  !loginForm.controls['password'].valid
                ">
                <small *ngIf="loginForm.controls['password'].hasError('required')" style="color:red;">
                  Please enter the password!
                </small>
                <!-- <small *ngIf="loginForm.controls['password'].hasError('pattern')" style="color:red;">
                  Please enter valid password!
                </small> -->
              </div>
            </div>
          </div>
          <div class="col-12 text-center">
            <input type="submit" class="btn btn-outline-light btn-md" value="LOGIN"><br>
            
          </div>

          <!-- <div class="login text-center">
              <button type="submit" class="btn btn-primary form-control" >Login</button>
            </div> -->
        </form>

        <small class="row narrow text-center">
          <div class="col">
           <a (click)="register()" > Not yet registered? Register</a>
          </div>
          </small>
      </div>
    </div>
  </div>
 
</div>
<app-footer></app-footer>