 /* .signup-container {
  background: #69d5d8;
  height: 100vh;
} */
/* .card{
  width: 30%;
} */

/* .main-form {
  border-radius: 10px;
  background: white;
  width: 900px;
  margin: auto;
  border: none;
  padding: 2rem;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  font-family: 'Lora', serif;
  font-size: 1.2rem;
  font-weight: 500;
} 

button {
  margin-top: 35px;
  width: 40%;
  text-align: center;
  margin-left: 31%;
  background-color: #2c3a47;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 40px;
  transition: background-color 0.3s ease-in-out,
              box-shadow .3s ease-in-out,
              transform .3s ease-in-out;
}  */

.container-fluid{
  /* background: url('https://as2.ftcdn.net/jpg/00/81/66/27/500_F_81662714_FJC1qWJowMZAkplAZBvWZvNGQEMnd9si.jpg'); */
  /* background-image: linear-gradient(to left bottom,rgba(0, 0, 0, 0.815), rgba(37, 31, 31, 0.575)), url('https://images.pexels.com/photos/259165/pexels-photo-259165.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
  background-color: #5cb4b4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width:100;
  height: 50;
  overflow:auto;
  transform: rotateY('55');
  margin: 0%;
  /* background-image: linear-gradient(0deg,rgba(0,0,0,0) 50%,rgba(0,0,0,.5) 100%),radial-gradient(50% 120%,rgba(0,0,0,0) 50%,rgba(0,0,0,.7) 100%), url('https://images.pexels.com/photos/259165/pexels-photo-259165.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
  /* background: rgba(0,0,0,.5); */
  /* background-image: linear-gradient(0deg,rgba(0,0,0,0) 50%,rgba(0,0,0,.5) 100%),radial-gradient(50% 120%,rgba(0,0,0,0) 50%,rgba(0,0,0,.7) 100%); */
}
.navbar{
  background:transparent;

}
.navbar-brand{
  font-family: 'Lobster', cursive;
  font-style: italic;
  font-weight: 800;
  font-size: 25px;
}
.navbar-brand>img{
  border-radius: 50%;
}
.navbar.nav-item{
  font-weight: 700;
}

.container{
  width: 70%;
  /* margin-left: 200px !important; */
  background:#ffff;
  /* opacity: 0.85; */
  /* margin-left: 80px; */
  border-radius: 1%;
}
.welcome{
  color: black;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  letter-spacing: .1px;
}
.form-control{
  /* background: #fbfbfb; */
  /* height: 70%; 
  color: #ffff; */
  
  /* outline: #201f1f; */
}
/* .form-group{
  color: rgb(243, 240, 240);
  font-weight: 600;
  outline: white;
  letter-spacing: 0.5px;
} */
.btn{
  /* outline-color: black */
}
.PC{
color: white;
font-weight: 100
}
.btn{
  background-color: rgb(13, 240, 240);
  /* background-image: linear-gradient(141deg, #8ee0e0 0%, #1fdbcb 51%, #2ce2e8 75%); */
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 4px;
  border: solid 2px rgb(13, 240, 240);
}
.card{
  /* width: 80%; */
  flex-direction: row
}