.container-fluid{
  background-image:  radial-gradient(rgb(13, 184, 184), rgb(21, 201, 171), rgb(27, 208, 221));
  /* height: 100vh; */
  /* background-position: center; */
  background-size: cover;
  opacity: .9;
  font-family: 'lato', sans-serif;
  border-radius: 0%;
  background-position-x: center
}

.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  background-color: white !important;
  /* background: rgba(0,0,0,0.6) !important; */
  /* opacity: .9; */
}
.navbar-brand img{
  height: 6rem;
  width: 6rem;
  /* border-radius: 50%; */
}
.navbar-nav li{
padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link{
  /* color: white; */
  padding-top: .8rem;
}

.btn-lg{
  border-radius: 25px;
  border-width: medium;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
  background: rgb(15, 221, 228)
}
.card{
  font-family: 'lato',sans-serif;
  
}
.card h3{
  font-size: 2rem;
  font-weight: 700;
  color: rgb(20, 197, 197);
  text-shadow: 2rem  rgb(14, 204, 141);
  padding: 2rem;
}
.card h5{
  font-size: 1.5rem;
  font-weight: 700;
  padding:.1rem;

}
small{
  color: rgb(219, 24, 24);
}
.form-control{
  border-radius: 0%;
  padding: .1rem;
}
.form-group{
  color: rgb(243, 240, 240);
  font-weight: 600;
  outline: white;
  letter-spacing: 0.5px;
  border-radius: 0%;
}
.form-check-label{
  color: black !important;
}
.image-upload img
{
width: 80px;
cursor: pointer;
}
.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 80px;
    cursor: pointer;
}
