<div class="container-fluid padding" #conatent>
  <div class="container">
    <div class="row welcome ">
      <div class="col-12" style="color:rgb(106, 208, 226);">
        <h4 class="title">Pledges</h4>
      </div>
      <div class="container padding">
        <div class="col-12">
         
            <div class="container-fluid col-12">
              <div class="row">
                <div class="col">
                  <div ngbDropdown class="d-inline-block" autoClose="outside">
                    <button class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle><fa-icon [icon]="faFilter"></fa-icon> Date</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                      <form class="px-4 py-3">
                        <div class="form-group">

                          <div class="jumbotron-fluid">
                            <label for=""> From Date </label><input type="date" class="form-control" id="date-range"
                              name="start" max="{{today}}" [(ngModel)]="start">
                            <label for=""> To Date </label><input type="date" class="form-control" id="date-range" min="{{start}}"
                              name="end" [(ngModel)]="end">
                          </div>
                        </div>
                      </form>
                      <button class="dropdown-item" style="margin-left: 142px;" type="button" class="btn btn-primary"
                        (click)="Datefilter()"> Done</button>
                    </div>
                  </div>
                </div>
                <div class="form-group form-inline col-6">
                  <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><fa-icon [icon]="faSearch"></fa-icon></div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername2"
                      placeholder="Search Name " [(ngModel)]="searchText" style="outline:none">
                  </div>
                </div>

                <div class="">
                  <select class="btn btn-outline" name="Frequency" id="frequency"
                    (change)="frequnecy($event.target.value)" placeholder = "Frequency" > 
                    <!-- <option class="dropdown-item" (click)="all(event)" >All</option> -->
                    <option class="dropdown-item" value="week">Weekly</option>
                    <option class="dropdown-item" value="byweek">Biweekly</option>
                    <option class="dropdown-item" value="month">Monthly</option>
                    <option class="dropdown-item" value="quarter">Quarterly</option>
                    <option class="dropdown-item" value="half-year">Half-Year</option>
                    <option class="dropdown-item" value="year">Annually</option>
                  </select>
                </div>

                &nbsp; &nbsp;
                <div class="">
                  <button type="button" class="btn btn-outline-info" data-toggle="tooltip" data-placement="top"
                    title="Pdf" (click)="downloadPdf($event)"> <fa-icon [icon]="faFilePdf"></fa-icon> Dowload </button>
                </div>
                <br>
                &nbsp; &nbsp;
                <div class="">
                  <button type="button" data-toggle="tooltip" data-placement="top" title="Refresh"
                    class="btn btn-outline-info" (click)="refresh()"><fa-icon [icon]="faRedoAlt"></fa-icon></button>
                </div>
              </div>
            </div>
            <div class="table-responsive">
            <table *ngIf="pledgeReport?.length >0" class="table">
              <thead class="thead">
                <tr>
                  <th>Date</th>
                  <th>Name</th>
                  <th>Net Amount</th>
                  <th>Frequency</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let data of pledgeReport| filter : 'userDetails':'Name': searchText  | paginate: {itemsPerPage: 12, currentPage: p };">
                  <td>{{data.startDate | date}}</td>
                  <td>{{data.userDetails.Name}}</td>
                  <td>{{data.amount | currency}}</td>
                  <td>{{data.interval != "" && data.interval != null?data.interval:"-"}}</td>
                </tr>
              </tbody>
            </table>
            <hr>
            <div *ngIf="pledgeReport?.length === 0" class="text-center">
              <h5>No data</h5>
            </div>
            <div class="spinner" *ngIf="loading">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>
        <div class="paginate">
          <pagination-controls class="paginate-wrap" (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>