<div class="container-fluid padding" #conatent>
  <div class="container">
    <div class="row welcome ">
      <div class="col-12" style="color:rgb(106, 208, 226);">
        <h4 class="title">Pledges</h4>
      </div>
      <div class="container padding">
        <div class="col-12">
          <div class="table-responsive">
            <div class="container-fluid col-12">
              <div class="row">
                  <div class="col">
                      <div class="dropdown">
                        <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="tooltip" title="Filter by date"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-filter" aria-hidden="true"></i> Date
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    
                          <form class="px-4 py-3">
                            <div class="form-group">
    
                              <div class="jumbotron-fluid">
                                <label for=""> From Date </label><input type="date" class="form-control" id="date-range"
                                  name="start" [(ngModel)]="start">
                                <label for=""> To Date </label><input type="date" class="form-control" id="date-range"
                                  name="end" [(ngModel)]="end">
                              </div>
                            </div>
                          </form>
                          <button class="dropdown-item" style="margin-left: 142px;" type="button" class="btn btn-primary"
                            (click)="Datefilter()">Done</button>
                        </div>
                      </div>
                    </div>
                    <div class="form-group form-inline col-6">
                        <input class="form-control ml-2" type="text" [(ngModel)]="searchText" placeholder="Search name"
                          style="width:280px;" />
                      </div>

                <div class="">
                  <select class="btn btn-outline" name="Frequency" id="" (change)="frequnecy($event.target.value)">
                    <option class="dropdown-item" value="week">Weekly</option>
                    <option class="dropdown-item" value="byweek">Biweekly</option>
                    <option class="dropdown-item" value="month">Monthly</option>
                    <option class="dropdown-item" value="quarter">Quarterly</option>
                    <option class="dropdown-item" value="half-year">Half-Year</option>
                    <option class="dropdown-item" value="year">Annually</option>
                  </select>
                </div>
               
               &nbsp; &nbsp;
                <div class="">
                  <button type="button" class="btn btn-outline-info" data-toggle="tooltip" data-placement="top" title="Pdf" (click)="downloadPdf()"><i
                      class="fas fa-file-pdf"></i> Dowload </button>
                </div>
                <br>
                &nbsp; &nbsp;
                <div class="">
                  <button type="button" data-toggle="tooltip" data-placement="top" title="Refresh" class="btn btn-outline-info" (click)="refresh()"><i
                      class="fas fa-redo-alt"></i></button>
                </div>
              </div>
            </div>

            <table *ngIf="pledgeReport?.length >0" class="table">
              <thead class="thead">
                <tr>
                  <th>Date</th>
                  <th>Name</th>
                  <th>Net Amount</th>
                  <th>Frequency</th>

                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let data of pledgeReport| filter : 'userDetails':'Name': searchText  | paginate: {itemsPerPage: 12, currentPage: p };">
                  <td>{{data.startDate | date}}</td>
                  <td>{{data.userDetails.Name}}</td>
                  <td>{{data.amount | currency}}</td>
                 <td>{{data.interval}}</td>           
               </tr>
              </tbody>
            </table>
            <hr>
            <div *ngIf="pledgeReport?.length === 0" class="text-center">
              <h5>No data</h5>
            </div>
          </div>
        </div>
        <div class="paginate">
          <pagination-controls class="paginate-wrap" (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>