/* .container{
width: 50%;
} */
/* .card{
    width: 50%;
}
.title h4{
    color: rgb(95, 209, 230);
    font-weight: bold;
    font-size: 2rem;

}
.regular-checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
.regular-checkbox:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
.regular-checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
} */
/* .custom-day {
	text-align: center;
	padding: 0.185rem 0.25rem;
	display: inline-block;
	height: 2rem;
	width: 2rem;
  }
  .custom-day.focused {
	background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
	background-color: rgb(2, 117, 216);
	color: white;
  }
  .custom-day.faded {
	background-color: rgba(2, 117, 216, 0.5);
  } */
  div{
    padding: 15px;
    border: solid 2px steelblue;
}