<!-- <div class="container-fluid ">
  <div class="container narrow col-md-6 ">
    <div class=" row justify-content-center">
      <div class="card ">
        <div class="title text-center">
          <h4>Set Payouts</h4>
        </div>
        <div *ngIf="error?.message" class="alert alert-danger" role="alert">
          <strong>{{error.message}}</strong>
        </div>
        <div class="col form-group">

          <br>

          <div class="col">
            <label for="">Frequency</label>
            <select [(ngModel)]="interval" class="form-control" name="" id="">
              <option class="form-control" *ngFor="let interval of intervals " [ngValue]="interval.value">
                {{interval.name}}
              </option>
            </select>
          </div>
          <br>
          <div class="col">
            <label for="">Start date</label>
            <input type="date" class="form-control" min="2019-04-01" [(ngModel)]="date">
          </div>
          <br>
          <div class="col">
            <label for="">Amount</label>
            <input type="number" class="form-control" min="1" [(ngModel)]="amount" placeholder="Enter amount">
          </div>
          <br>
          <div class="col">
            <label for="">Recurring</label>
            <br>
            <input type="checkbox" class="regular-checkbox" [ngModel]="filter" (ngModelChange)="onFilterChange($event)">
          </div>
          <br>
          <div class="col text-center">
            <button type="button" class="btn btn-primary btn-lg" (click)="submit()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- 
<div>Start: <input type="text" id="start" /></div>
<div>End: <input type="text" id="end" /></div> -->

<div class="container">
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti ullam dolorem vitae et veritatis facilis, eum
    magnam eveniet nesciunt ipsa aperiam expedita magni rem modi similique sit quasi error delectus?</p>
  <hr>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Country</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>United States</option>
        <!-- <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option> -->
      </select>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Currency</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>USD</option>
        <!-- <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option> -->
      </select>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Account Type</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Bank Account</option>
        <option>Card Payment</option>
        <option>Direct Payment</option>
        <!-- <option>4</option>
        <option>5</option> -->
      </select>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Owner Type</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Individual</option>
        <!-- <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option> -->
      </select>
    </div>
    <!-- <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <h3>Account</h3>
    <hr>
    <div class="form-group">
      <label for="exampleInputEmail1">Account Number</label>
      <input type="number" class="form-control" id="countryName" placeholder="Ex: 1234567890123456">
    </div>
    <div class="submit-btn">
        <button type="button" class="btn btn-outline-primary">Sumbmit</button>
    </div>
  </form>
</div>
