.container-fluid{
    margin-top:15px;
 }
 .container{
     font-family: 'Poppins', sans-serif;
 }
 .form-control{
     width:20%;
     
 }
 .fa-search{
     /* color:rgb(16, 144, 204);  */
    color:white;
 }
 .fa-sort-numeric-asc{
     color: black;
 }
 
 .btn-outline{
     background:rgb(16, 144, 204);
     color: white;
    
 }
 .date{
     margin-left: 400px;
 }
 .table-responsive{

 }
 .thead{
     background-color: rgb(16, 144, 204);
     color: white;
 }
 /* .pagination{
     text-align: center
 }
 .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }
  
  .pagination a.active {
    background-color: rgb(16, 144, 204);
    color: white;
    border: 1px solid rgb(16, 144, 204);
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;} */
 
