/* .wrap-btn {
  display: flex;
  border: none;
  justify-content: center;
  margin: 35px;
 
}

.wrap-btn button {
  font-family: 'Lora', serif;
  border: none;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  background: #ffff;
  font-weight: 300;
}
.wrap-btn button:hover {
  background-color: rgb(8, 231, 220);
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  transform: translateY(-3px);
}    */
.container-fluid{
  background-image: linear-gradient(to left bottom,rgba(0, 0, 0, 0.815), rgba(37, 31, 31, 0.575)), url('../../../assets/Images/login.jpeg');
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow:auto;
  transform: rotateY('55');
  margin: 0%;
  
}
.navbar{
  background:transparent;

}
.navbar-brand{
  font-family: 'Lobster', cursive;
  font-style: italic;
  font-weight: 800;
  font-size: 25px;
  color: rgb(228, 235, 236)
}
.navbar-brand>img{
  border-radius: 50%;
}
.container{
  width:50%;
}