<!-- <p>
  stripe-payment works!
  <a href="https://connect.stripe.com/express/oauth/authorize?redirect_uri=https://stripe.com/connect/default/oauth/       test&client_id=ca_EdhteZ5vPcyNiJ3mjwBWY8q7626UuOCG
  &state={STATE_VALUE}" (click)="clicked()"> Setup payments for Quber </a>
<button (click)="clicked()" >Payment method</button>
</p> -->

  <div class="wrap-card">
    <!-- <a href="https://connect.stripe.com/express/oauth/authorize?redirect_uri=http://18.222.254.228/quber/dashboard/stripeRespond&client_id=ca_EdhteZ5vPcyNiJ3mjwBWY8q7626UuOCG&state={STATE_VALUE}"> -->
    <a href="https://connect.stripe.com/express/oauth/authorize?`redirect_uri`=https://18.222.254.228/quber/dashboard/stripeRespond&client_id=ca_EdhteZ5vPcyNiJ3mjwBWY8q7626UuOCG&state={vinay}&stripe_user[business_type]=company">
      Setup Stripe details.
    </a>
  </div>
