.card{
  padding: 2rem;
  /* margin: 30px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

a {
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  padding: 20px;
  border: none;
}